# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=bdbb43b22fd105caff8a4601af4d8a25
APP_DEBUG=0
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###


# Timezone
TIMEZONE=Europe/Warsaw

###> doctrine/mongodb-odm-bundle ###
MONGODB_URL=mongodb://ads-manager_db:27017
MONGODB_DB=symfony
###< doctrine/mongodb-odm-bundle ###

# ADS network
ADS_ADDRESS=
ADS_SECRET=
ADS_HOST=127.0.0.1
ADS_PORT=9091

HOST_IP=10.69.3.39

GENESIS_TIME=1531390976
BLOCK_SEQ_TIME=32
