.idea/
logs/
/bin/*
!bin/console
!bin/symfony_requirements
/.scannerwork

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
