.idea/
logs/
/bin/*
!bin/console
!bin/symfony_requirements
/.scannerwork

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.*.cache
###< phpunit/phpunit ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
