<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation email</title>
    </head>
    <body>
        <h1>Confirmation email</h1>
        <h2>Change email</h2>
        <a href="{{ url }}">Confirm</a>
    </body>
</html>
